alias path="echo $PATH | tr : '\n'"

function gitfunc(){
	if [[ $1 == "unstage" || $1 == "rm" ]]; then
		command git reset HEAD "$@"
	else
		command git "$@"
	fi
}
alias git=gitfunc

if [[ $MSYSTEM == "MSYS" ]]; then
	alias ls="LC_COLLATE=C /usr/local/bin/cygwin-ls.py"
	alias sublime="/c/Program\ Files/Sublime\ Text\ 3/sublime_text.exe"

	alias vue='winpty vue.cmd'
	function nano() { winpty nano "$@" ;} && export -f nano
	function python() { winpty python "$@" ;} && export -f python
fi

function homestead() {
	( cd ~/Projects/homestead && vagrant $* )
}

function vagrant(){
	if [[ $@ == "down" ]]; then
		command vagrant halt
	else
		command vagrant "$@"
	fi
}

function up() { cd $(eval printf '../'%.0s {1..$1}) && pwd; }

function weather() { curl -s http://wttr.in/$2; }